// ========================================================
// SECTIONS
// ========================================================

$margin: 0.9375em;
// Global

.page-content {
    position: relative;
}
.global-width {
    position: relative;
    max-width: 80em; // 1280 px
    margin: 0 auto;
}


.padded-inner {
    padding: $margin;
    box-sizing: border-box;
}

.box-border {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;

    h2 {
        font-weight: 600;
        opacity: 0.9;
    }

    p {
        opacity: 0.9;
    }
}

.box-border + .box-border {
    margin-top: 30px;
}



// Flex grid columns

$columns-gutter-compensation: -1em !default;
$column-gutter: 1em !default;


.columns {
    display: flex;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: $columns-gutter-compensation;
    margin-right: $columns-gutter-compensation;

    &.columns--scrollable {
        overflow: scroll;
        overflow-scrolling: touch;
    }
}


.column {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: $column-gutter;

    &.column--scrollable {
        overflow: scroll;
        overflow-scrolling: touch;
    }

    &.column--centered {
        align-self: center;
    }

    &.column--text-centered {
        align-self: center;
        text-align: center;
    }

    &.column--gapless {
        margin: 0 0 auto;
    }
}

$numbers: (one, two, three, four, five, six,
    seven, eight, nine, ten, eleven, twelve);

@for $index from 1 through length($numbers) {

    $number: nth($numbers, $index);

    .column-#{ $number } {
        box-sizing: border-box;
        flex: 0 0 auto;
        flex-basis: $index / 12 * 100%;
        max-width: $index / 12 * 100%;
        padding: $column-gutter;

        &.column--scrollable {
            overflow: scroll;
            overflow-scrolling: touch;
        }

        &.column--centered {
            align-self: center;
        }

        &.column--text-centered {
            align-self: center;
            text-align: center;
        }

        &.column--gapless {
            margin: 0 0 auto;
        }
    }


    .column--offset-#{$number} {
        box-sizing: border-box;
        margin-left: $index / 12 * 100%;
    }
}

// ========================================================
// MIN WIDTH 480px
// ========================================================

@media screen and (min-width: 30em) {
    .columns {
        flex-direction: row;
    }
}

// ========================================================
// MAX WIDTH 780px
// ========================================================

@media screen and (max-width: 48.75em) {
    .columns {
        flex-direction: row;
    }

    .global-width .column-four {
        flex-grow: 1;
        flex: none;
        max-width: 100%;
        width: 100%;
    }
}



