<!-- Section Html & Css -->
<section class="Html & Css demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Html & Css</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

        <!-- source-item -->
        <p><strong><a href="https://github.com/thoughtbot/trail-map/blob/master/html-css.md" target="_blank">HTML & CSS</a></strong></p>
        <p>Directed CSS learning tools with validation steps</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://abookapart.com/products/css3-for-web-designers" target="_blank">CSS3 for web designers(Book)</a></strong></p>
        <p>Another book from A Book Apart. It covers all the new CSS3 styles and selectors.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://diveintohtml5.info/" target="_blank">Dive Into HTML5</a></strong></p>
        <p>A plain language explanation and reference for all of the HTML5 elements.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://learnlayout.com/" target="_blank">Learn Layout</a></strong></p>
        <p>A nice walk though and explanation of CSS layout techniques.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="https://abookapart.com/products/responsive-web-design" target="_blank">Responsive Web Design</a></strong></p>
        <p>THE book on responsive design. At this point it’s a must read for any designer on the web.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://leaverou.me/ft2010/#intro" target="_blank">CSS3: A Practical Introduction</a></strong></p>
        <p>Presentation for CSS3</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048" target="_blank"> The 30 CSS Selectors you Must Memorize</a></strong></p>
        <p>Simply a list of CSS selectors that are very helpful.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://caniuse.com/" target="_blank">When can I use..</a></strong></p>
        <p>Reference for which browsers support which CSS & HTML features.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://allthefreestock.com/" target="_blank">Normalize</a></strong></p>
        <p>The default reset right now for CSS developers.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://daneden.github.io/animate.css/" target="_blank">Animate CSS</a></strong></p>
        <p>Good library for simple CSS animations.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://vimeo.com/17091905" target="_blank">Dan Cederholm - Handcrafted CSS(video)</a></strong></p>
        <p>Good video to watch about crafting your CSS.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.cssmatic.com/" target="_blank">CSSmatic <i class="fa fa-star"></i></a></strong></p>
        <p>The ultimate CSS tools for web designers</p>
        <hr>
        <!-- / -->

        </div>
    </div>
</section>
<!-- / -->


<!-- Section Html Email Template -->
<section class="Html Email Template demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Html Email Template</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

        <!-- source-item -->
        <p><strong><a href="https://litmus.com/community/templates" target="_blank">Litmus</a></strong></p>
        <p>Modern email templates designed by the best email designers in the business. Easy to use and completely free.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://github.com/leemunroe/responsive-html-email-template" target="_blank">leemunroe</a></strong></p>
        <p>Really Simple Responsive HTML Email Template</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://zurb.com/playground/responsive-email-templates/" target="_blank">ZURB</a></strong></p>
        <p>Responsive Email Templates.</p>
        <hr>
        <!-- / -->

        </div>
    </div>
</section>
<!-- / -->


<!-- Section Snippets -->
<section class="Snippets demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Snippets</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

        <!-- source-item -->
        <p><strong><a href="http://give-n-go.co/" target="_blank">give-n-go<i class="fa fa-star"></i></a></strong></p>
        <p>A curated gallery of Dribbble shots reworked as interactive CodePen pens.</p>
        <hr>
        <!-- / -->

        </div>
    </div>
</section>
<!-- / -->
