<!-- Section DESIGN -->
<section class="Design demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Design Fundamentals</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

         <!-- source-item -->
        <p><strong><a href="https://github.com/thoughtbot/trail-map/blob/master/visual-principles.md" target="_blank">Design Principles</a></strong></p>
        <p>Directed Visual Principles learning tools with validation steps</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://www.amazon.com/Visual-Display-Quantitative-Information-2nd/dp/0961392142" target="_blank">The Visual Display of Quantitative Information</a></strong></p>
        <p>The quintessential information design book.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://designingfortheweb.co.uk/" target="_blank">A Practical Guide to Designing for the Web</a></strong></p>
        <p>Great book for learning some fundamental design principles and how they apply to the web</p>
        <hr>
        <!-- / -->
        </div>
    </div>
</section>
<!-- / -->
