---
title: Design Sources
url: design-sources.html
---

<!-- Section DESIGN -->
<section class="Design demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Design Fundamentals</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

         <!-- source-item -->
        <p><strong><a href="https://github.com/thoughtbot/trail-map/blob/master/visual-principles.md" target="_blank">Design Principles</a></strong></p>
        <p>Directed Visual Principles learning tools with validation steps</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://www.amazon.com/Visual-Display-Quantitative-Information-2nd/dp/0961392142" target="_blank">The Visual Display of Quantitative Information</a></strong></p>
        <p>The quintessential information design book.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://designingfortheweb.co.uk/" target="_blank">A Practical Guide to Designing for the Web</a></strong></p>
        <p>Great book for learning some fundamental design principles and how they apply to the web</p>
        <hr>
        <!-- / -->
        </div>
    </div>
</section>
<!-- / -->

<!-- Section Grid Systems -->
<section class="Grid Systems demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Grid Systems</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

        <!-- source-item -->
        <p><strong><a href="https://github.com/thoughtbot/trail-map/blob/master/grids.md" target="_blank">Grid Systems</a></strong></p>
        <p>Directed Grid learning tools with validation steps</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://modulargrid.org/#app" target="_blank">Modulator Grid Pattern</a></strong></p>
        <p> Helps generate custom grid patterns to throw in th background of your site while building.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://gridulator.com/" target="_blank">Gridulator</a></strong></p>
        <p>Grid calculator for columns and gutter</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://neat.bourbon.io/" target="_blank">Bourbon Neat</a></strong></p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://gridulator.com/" target="_blank">Gridulator</a></strong></p>
        <p>Grid calculator for columns and gutter</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://goldengridsystem.com/" target="_blank">Golden Grid System</a></strong></p>
        <p>A responsive grid framework based on the golden ratio.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://getskeleton.com/" target="_blank">Skeleton CSS Grid</a></strong></p>
        <p>Adaptive 16 column grid framework and base styles.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://www.sprymedia.co.uk/article/Grid" target="_blank">Grid overlay bookmarklet</a></strong></p>
        <p>Overlays grid on top of your site. Helpful when building out your grid on the web.</p>
        <hr>
        <!-- / -->
        </div>
    </div>
</section>
<!-- / -->


<!-- Section Typography -->
<section class="Typography demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Typography</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

        <!-- source-item -->
        <p><strong><a href="https://github.com/thoughtbot/trail-map/blob/master/typography.md" target="_blank">Typography</a></strong></p>
        <p>Directed Typography learning tools with validation steps</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://sachagreif.com/google-webfonts-that-dont-suck/" target="_blank">Google Webfonts that don’t suck</a> & <a href="http://hellohappy.org/beautiful-web-type" target="_blank">Beautiful Web Type</a></strong></p>
        <p> Two lists of Google web fonts that, well, are better than the rest.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.typeconnection.com/" target="_blank">Type Connection</a></strong></p>
        <p> A fun pairing game for typefaces. A good way to practice choosing and paring typefaces.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://www.modularscale.com/" target="_blank">Modular Scale</a></strong></p>
        <p>Calculator to help build a modular scale within your type.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://webtypography.net/" target="_blank">The Elements of Typographic Style Applied to the Web</a></strong></p>
        <p>The greatest book on type as applied to websites.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://quotesandaccents.com/" target="_blank"> Quotes and accents</a></strong></p>
        <p>A nice reference for the proper use of quotes, accents and dashes with keyboard shortcuts.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://vimeo.com/34178417" target="_blank">Jason Santa Maria - On Web Typography</a></strong></p>
        <p>Video about executing typography on the web.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.awayback.com/revised-font-stack/" target="_blank">Revised Font Stack</a></strong></p>
        <p>Reference list for good font stacks.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://typekit.com/" target="_blank">Typekit</a></strong></p>
        <p>One of the few sites to find high quality typeface that can be embedded on the web.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://www.fontsquirrel.com/" target="_blank">fontsquirrel</a></strong></p>
        <p>Downloadable fonts that have varying quality and licences to add to your site.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://gospaces.com/tools/slogan-maker/lol?seed=1332" target="_blank">Slogan Generator <i class="fa fa-star"></i></a></strong></p>
        <p>Get hundreds of slogan ideas for your project or business</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.fontreach.com/" target="_blank">fontreach</a></strong></p>
        <p>FontReach scans the top million sites to show font usage across the web</p>
        <hr>
        <!-- / -->
        </div>
    </div>
</section>
<!-- / -->

<!-- Section Color & Texture -->
<section class="Color & Texture demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Color & Texture</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

        <!-- source-item -->
        <p><strong><a href="http://color.method.ac/" target="_blank">Color: a color matching game</a></strong></p>
        <p>Game that helps you match color and get good at color pairing.s</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://dribbble.com/shots/166246-My-Secret-for-Color-Schemes" target="_blank">My Secret for Color Schemes</a></strong></p>
        <p> Trick in Photoshop to help color matching..</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://mattpatenaude.com/" target="_blank">Colors App</a></strong></p>
        <p>Mac color picker app.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://neat.bourbon.io/" target="_blank">Bourbon Neat</a></strong></p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="https://color.hailpixel.com/" target="_blank">Swatch you doing?</a></strong></p>
        <p>A nice little color chooser in the browser.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://sassme.arc90.com/" target="_blank">Sass Me</a></strong></p>
        <p>Visualize SASS color functions in real-time without compiling.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://subtlepatterns.com/" target="_blank">Subtle patterns</a></strong></p>
        <p>Slight patterns for background noise.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="https://robots.thoughtbot.com/controlling-color-with-sass-color-functions" target="_blank">Sass Color Functions</a></strong></p>
        <p>Article about color about how to purposefully use color functions in Sass.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://coolors.co/" target="_blank">coolors <i class="fa fa-star"></i></a></strong></p>
        <p>The super fast color schemes generator!</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://uigradients.com/" target="_blank">uigradient<i class="fa fa-star"></i></a></strong></p>
        <p>Beautiful color gradients</p>
        <hr>
        <!-- / -->
        </div>
    </div>
</section>
<!-- / -->

<!-- Icons -->
<section class="Icons demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Icons</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

        <!-- source-item -->
        <p><strong><a href="https://icomoon.io/" target="_blank">Ico Moon <i class="fa fa-star" aria-hidden="true"></i>
</a></strong></p>
        <p>Pixel Perfect Icon Solutionss</p>
        <hr>

        <!-- source-item -->
        <p><strong><a href="http://www.iconsguide.com/" target="_blank">Icons Guide</a></strong></p>
        <p>Site for finding premium icons</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.copypastecharacter.com/
        " target="_blank">Copy paste character</a></strong></p>
        <p>A nice showcase of HTML entities. Whats better than an HTML entity for an icon?</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://fontello.com/" target="_blank">Fontello</a></strong></p>
        <p>Gives you the ability to pick icons from a selection of open-source icons and combine them into a font.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://thenounproject.com/" target="_blank">NounProject</a></strong></p>
        <p>Open source icon project.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.iconsweets2.com/" target="_blank">Icon Sweets</a></strong></p>
        <p>Free minimal icons for Photoshop.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://iconmonstr.com/" target="_blank">Icon Monstr</a></strong></p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://thetoolbox.cc/" target="_blank">The Toolbox</a></strong></p>
        <p>A bunch of design resources.</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.flaticon.com/" target="_blank">flaticon <i class="fa fa-star"></i></a></strong></p>
        <p>The largest database of free icons available in PNG, SVG, EPS, PSD and BASE 64 formats.</p>
        <hr>
        <!-- / -->

         <!-- source-item -->
        <p><strong><a href="http://www.kameleon.pics/" target="_blank">kamaleon</a></strong></p>
        <p>1500 FLAT ICONS. UNLIMITED COLORS.</p>
        <hr>
        <!-- / -->


        </div>
    </div>
</section>
<!-- / -->

<!-- Section Images & Videos -->
<section class="Images & Videos demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Images & Videos</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column">

        <!-- source-item -->
        <p><strong><a href="https://medium.com/@dustin/stock-photos-that-dont-suck-62ae4bcbe01b#.o70y9jpy4" target="_blank">Stock photos that dont suck</a></strong></p>
        <p>A list of places to find the best free stock photos</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://thestocks.im/" target="_blank">thestocks <i class="fa fa-star" aria-hidden="true"></i>
</a></strong></p>
        <p>Hand-picked free photos for your inspiration </p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://coverr.co/" target="_blank">Coverr <i class="fa fa-star" aria-hidden="true"></i>
</a></strong></p>
        <p>Beautiful, free videos for your homepage</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.stockfootageforfree.com/" target="_blank">Stock footage for free</a></strong></p>
        <p>professional quality stock footage and video</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="http://www.wedistill.io/" target="_blank">Wedistill <i class="fa fa-star"></i></a></strong></p>
        <p>Curated HD Video Free For Your Personal and Commercial Use</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://www.pond5.com/stock-video-footage/" target="_blank">Pond5</a></strong></p>
        <p>The world's largest royalty-free footage collection</p>
        <hr>
        <!-- / -->

        <!-- source-item -->
        <p><strong><a href="https://placehold.it/" target="_blank">placehold <i class="fa fa-star"></i></a></strong></p>
        <p>A quick and simple image placeholder service.</p>
        <hr>
        <!-- / -->

        </div>
    </div>
</section>
<!-- / -->
