<nav class="navbar-fixed global-width__inner">
   <ol>
        <li> <a class="scroll-on-page-link" href="#scroll-link-1">Design</a> </li>

        <li>  <a class="scroll-on-page-link" href="#scroll-link-2">UX & Design thinking</a></li>

        <li>  <a class="scroll-on-page-link" href="#scroll-link-3">Web</a></li>

        <li> <a class="scroll-on-page-link" href="#link-to-top">
        back to top </a> </li>
    </ol >
</nav>

<!-- Section DESIGN -->
<section id="scroll-link-1" class="Design demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Design</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column-four">

            <div class="box-border">

                <h2>Fundamentals</h2>
                <!-- source-item -->
                <p><strong><a href="https://github.com/thoughtbot/trail-map/blob/master/visual-principles.md" target="_blank">Design Principles</a></strong></p>
                <p>Directed Visual Principles learning tools with validation steps</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="https://www.amazon.com/Visual-Display-Quantitative-Information-2nd/dp/0961392142" target="_blank">The Visual Display of Quantitative Information</a></strong></p>
                <p>The quintessential information design book.</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="http://designingfortheweb.co.uk/" target="_blank">A Practical Guide to Designing for the Web</a></strong></p>
                <p>Great book for learning some fundamental design principles and how they apply to the web</p>
                <hr>
                <!-- / -->
            </div>
        </div>
    </div>
</section>
<!-- / -->

<!-- Section UX & Design thinking -->
<section id="scroll-link-2" class="UX & Design thinking demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">UX & Design thinking</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column-four">

            <div class="box-border">

                <h2>Read</h2>
                <!-- source-item -->
                <p><strong><a href="http://alistapart.com/" target="_blank">A List Apart</a></strong></p>
                <p>A periodical for web designers. A must read every month.</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="https://medium.com/@rjs/what-happens-to-user-experience-in-a-minimum-viable-product-5917f88079a1?s=9-what-happens-to-user-experience-in-a-minimum-viable-product#.y7zsul97j" target="_blank">What happens to user experience in a minimum viable product?(Blog)</a></strong></p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="https://library.gv.com/" target="_blank">Design Staff</a></strong></p>
                <p>Google Ventures design blog.</p>
                <hr>
                <!-- / -->
            </div>
        </div>


        <div class="display-styling column-four">
            <div class="box-border">
                <h2>Book</h2>
                <!-- source-item -->
                <p><strong><a href="https://www.amazon.com/gp/product/0321344758" target="_blank">Don’t Make Me Think(Book)</a></strong></p>
                <p>The classic book on usability on the web.</p>
                <hr>

                <!-- source-item -->
                <p><strong><a href="https://abookapart.com/products/designing-for-emotion/" target="_blank">Designing With Emotion(book)</a></strong></p>
                <hr>
                <!-- / -->
            </div>
        </div>

        <div class="display-styling column-four">

            <div class="box-border">
                <h2>Watch Video</h2>
                <!-- source-item -->
                <p><strong><a href="https://aycl.uie.com/" target="_blank">UIE Virtual Seminars</a></strong></p>
                <p>Seminars from the premiere usability experts on current web design topics</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="https://vimeo.com/creativemornings" target="_blank">Creative Morning’s Talks</a></strong></p>
                <p>Collection of talks from Creative Mornings, a free lecture series around the world. They are great for motivation, inspiration and deign thinking.</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="https://vimeo.com/34017777" target="_blank">Wilson Miner - When We Build</a></strong></p>
                <p>Video about our thinking as designers and what we do when we put things into the world.</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="https://vimeo.com/17084347" target="_blank">Frank Chimero - The Shape of Design</a></strong></p>
                <hr>
                <!-- / -->
            </div>
        </div>
    </div>
</section>
<!-- / -->

<!-- Section Web -->
<section id="scroll-link-3"  class="Web demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Web</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column-four">

            <div class="box-border">
                <h2>Fundamental</h2>

                <!-- source-item -->
                <p><strong><a href="https://github.com/thoughtbot/trail-map/blob/master/html-css.md" target="_blank">HTML & CSS</a></strong></p>
                <p>Directed CSS learning tools with validation steps</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="http://marksheet.io/" target="_blank">MarkSheet</a></strong></p>
                <p>A Free HTML and CSS Tutorial</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="http://learnlayout.com/" target="_blank">Learn Layout</a></strong></p>
                <p>A nice walk though and explanation of CSS layout techniques.</p>
                <hr>
                <!-- / -->
            </div>

            <div class="box-border">
                <h2>Book</h2>

                <!-- source-item -->
                <p><strong><a href="https://abookapart.com/products/css3-for-web-designers" target="_blank">CSS3 for web designers</a></strong></p>
                <p>Another book from A Book Apart. It covers all the new CSS3 styles and selectors.</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="https://abookapart.com/products/responsive-web-design" target="_blank">Responsive Web Design</a></strong></p>
                <p>THE book on responsive design. At this point it’s a must read for any designer on the web.</p>
                <hr>
                <!-- / -->
            </div>

        </div>

        <div class="display-styling column-four">
            <div class="box-border">
                <h2>HTML</h2>

                <!-- source-item -->
                <p><strong><a href="http://diveintohtml5.info/" target="_blank">Dive Into HTML5</a></strong></p>
                <p>A plain language explanation and reference for all of the HTML5 elements.</p>
                <hr>
                <!-- / -->

            </div>
        </div>

        <div class="display-styling column-four">
            <div class="box-border">

                <h2>CSS</h2>
                <!-- source-item -->
                <p><strong><a href="https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048" target="_blank"> The 30 CSS Selectors you Must Memorize</a></strong></p>
                <p>Simply a list of CSS selectors that are very helpful.</p>
                <hr>
                <!-- / -->

                <h3>Watch video</h3>

                <!-- source-item -->
                <p><strong><a href="https://vimeo.com/17091905" target="_blank">Dan Cederholm - Handcrafted CSS(video)</a></strong></p>
                <p>Good video to watch about crafting your CSS.</p>
                <hr>
                <!-- / -->
            </div>
        </div>
    </div>
</section>
<!-- / -->





