<nav class="navbar-fixed global-width__inner">
   <ol>
        <li> <a class="scroll-on-page-link" href="#scroll-link-1">Web</a> </li>

        <li>  <a class="scroll-on-page-link" href="#scroll-link-2">Digital</a></li>

        <li>  <a class="scroll-on-page-link" href="#scroll-link-3">Tool</a></li>

        <li> <a class="scroll-on-page-link" href="#link-to-top">
        back to top </a> </li>
    </ol >
</nav>

<!-- Section Web -->
<section id="scroll-link-1" class="Web demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Web</a>
        </span>
    </div>

    <div class="columns">

        <div class="display-styling column-four">
            <div class="box-border">
                <h2>Websites</h2>


                <!-- source-item -->
                <p><strong><a href="http://www.awwwards.com/" target="_blank">Awwwards <i class="fa fa-star"></i></a></strong></p>
                <p>The awards for design, creativity and innovation on the Internet</p>
                <hr>
                <!-- / -->

                 <!-- source-item -->
                <p><strong><a href="http://www.cssdesignawards.com/" target="_blank">cssdesignawards<i class="fa fa-star"></i></a></strong></p>
                <p>css design awards</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="https://www.siteinspire.com/" target="_blank">siteinspire</a></strong></p>
                <p>A gallery of websites.</p>
                <hr>
                <!-- / -->


                <!-- source-item -->
                <p><strong><a href="http://www.productpages.xyz/" target="_blank">productpages</a></strong></p>
                <p>Curated directory of the best product pages</p>
                <hr>
                <!-- / -->

                 <!-- source-item -->
                <p><strong><a href="http://www.landingfolio.com/" target="_blank">landingfolio</a></strong></p>
                <p>Only the Best Landing Page Design Inspiration</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="http://archive.org/web/" target="_blank">archive web</a></strong></p>
                <p>Watch history of 510 billion web pages that is saved over time.</p>
                <hr>
                <!-- / -->
            </div>
        </div>

        <div class="display-styling column-four">

            <div class="box-border">

                <h2>UI components</h2>

                <!-- source-item -->
                <p><strong><a href="http://www.uiparade.com/" target="_blank">ui parade</a></strong></p>
                <p>UI design inspiration</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="http://zurb.com/patterntap" target="_blank">Patterntap</a></strong></p>
                <p>A catalog of specific UI elements</p>
                <hr>
                <!-- / -->

                <!-- source-item -->
                <p><strong><a href="http://collectui.com/designs" target="_blank">collectui</a></strong></p>
                <p>Daily inspiration collected from daily ui archive and beyond.</p>
                <hr>
                <!-- / -->
            </div>
        </div>
    </div>
</section>
<!-- / -->


<!-- Section Digital -->
<section id="scroll-link-2" class="Digital demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Digital</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column-four">

            <div class="box-border">
                <h2>Design</h2>

                <!-- source-item -->
                <p><strong><a href="https://dribbble.com/" target="_blank">Dribbble</a></strong></p>
                <p>A design community of 400x300 pixel shots.</p>
                <hr>
                <!-- / -->
            </div>
        </div>

        <div class="display-styling column-four">
            <div class="box-border">
                <h2>Photography</h2>

                <!-- source-item -->
                <p><strong><a href="http://ffffound.com/" target="_blank">ffffound</a></strong></p>
                <p> An assortment of design and art related images. Not always SFW.</p>
                <hr>
                <!-- / -->

            </div>
        </div>
    </div>
</section>
<!-- / -->


<!-- Section Tool -->
<section id="scroll-link-3" class="Tool demo global-width">
    <div class="select-section">
        <span class="section-name">
            <a href="">Tool</a>
        </span>
    </div>

    <div class="columns">
        <div class="display-styling column-four">

            <div class="box-border">
                <!-- source-item -->
                <p><strong><a href="https://gimmebar.com/" target="_blank">Gimmebar</a> </strong> </p>
                <p>Visual bookmarking tools that can be used as an inspiration collection tool.</p>
                <hr>
                <!-- / -->
            </div>
        </div>
    </div>
</section>
<!-- / -->

