/*------------------------------------*\
    # Config
*------------------------------------*/

// Global Settings
$base-font: 16; // Global font-size 16px

$margin: 0.9375em; // Global margins 15px

// Transitions Settings
$time-fast: .2s; $time: .4s; $time-slow: .6s;

$base-timing: ease-in-out;
