<header id="link-to-top" class="header demo global-width">
    <nav class="global-width__inner">
       <ol>
            <li class="" > <a  href ="fundamental.html" >1. Fundamentals</a> </li>
            <li class=""> <a  href ="inspiration.html" >2. Digital & Web Inspirations</a> </li>
            <li class=""> <a  href ="snippets-assets.html" >3. Snippets & Assets</a> </li>
        </ol >
    </nav>
</header>
