<header class="header demo global-width">
    <nav class="global-width__inner">
       <ol >
            <li> <a  href ="design-fundamental.html" >Design Fundamental</a> </li>
            <li> <a  href ="design-inspire.html" >Design Inspiration</a> </li>
            <li> <a  href ="design-assets.html" >Design Assets</a> </li>
            <li> <a  href ="design-ux.html" >Design & UX Thinking</a> </li>
            <li> <a  href ="design-web.html" >Html & Css</a> </li>
        </ol >
    </nav>
</header>
